@import "tailwindcss";

:root {
	--background: oklch(12.9% 0.042 264.695);
	--foreground: oklch(91.8% 0.036 264.695);
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
}
